@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrapper {
  display: inline-flex;
  animation: ticker 40s linear infinite;
}

.ticker-wrapper:hover {
  animation-play-state: paused;
}
